<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>

<!--production-->
<key>PROJECT_UUID</key>
<string>7a7e17de-769e-4c14-ab53-74f4bbbab2c5</string>
<key>PROJECT_CLIENT_KEY</key>
<string>ceVobYxJWKIMreCfw4As26BiJe9tmAEA243BkRX2</string>
<key>PROJECT_APP_UUID</key>
<string>4dded900-8016-45d6-939a-f4ff8581897b</string>

<!--debug-->
<!--<key>PROJECT_UUID</key>-->
<!--<string>c49932d1-9389-4b79-a4a2-e83d1ce13239</string>-->
<!--<key>PROJECT_CLIENT_KEY</key>-->
<!--<string>cnYEof2j3C1U27qmt9OQkGeAxc5RfkNiTZlSeFrM</string>-->
<!--<key>PROJECT_APP_UUID</key>-->
<!--<string>06b25f79-fc97-4301-98e6-21bce45cdd4b</string>-->


</dict>
</plist>
